#logo{
	width:37px
}

.navbar{
	background-color: whitesmoke;
}
a{
	color: blueviolet;
    font-size: 1.2em;
    font-family: cursive;
}
li a:hover {
   color:#4dffff;

}
li a:active {
    color: red;
}