<br>
<div class="container">
<form role="form" (submit)="addServ();myNgForm.resetForm();reset();"  #myNgForm="ngForm">
<div class="row">
     <div class="col-md-4"></div>
    <div class="col-md-4 title">
      <h2 class="hadd">Add New Add!!</h2>
      </div>
      <div class="col-md-4"></div>
      </div>
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
        <hr class="colorgraph">
          <div class="form-group">
          <label>Category</label>
           <select class="form-control" [(ngModel)]="category" name="category" required>
            <option value="Jobs">Jobs</option>
            <option value="Scholorships">Scholorships</option>
            <option value="Food-Supplements">Food-Supplements</option>
            <option value="Fashion">Fashion</option>
            <option value="Cars&Bikes">Cars&Bikes</option>
            <option value="Real-Estate-for-Sale">Real-Estate-For-Sale</option>
            <option value="Pets">Pets</option>
            <option value="Furniture">Furniture</option>
            <option value="Funny-Ads">Funny-Ads</option>
            <option value="Electronic">Electronic</option>
            <option value="Baby-Kids">Baby-Kids</option>
            <option value="Other" >Other</option>
          </select>
        </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group">
          <label>Location</label>
          <select class="form-control" [(ngModel)]="location" name="location" required>
            <option value="Amman">Amman</option>
            <option value="Irbid">Irbid</option>
            <option value="Jerash">Jerash</option>
            <option value="Ajloun">Ajloun</option>
            <option value="Madaba">Madaba</option>
            <option value="Tafela">Tafela</option>
            <option value="Karak">Karak</option>
            <option value="Zarqa">Zarqa</option>
            <option value="Maan">M'aan</option>
            <option value="Aqaba" >Aqaqba</option>
            <option value="Mafraq">Mafraq</option>
          </select>
        </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" placeholder="Description" [(ngModel)]="desc" name="desc" required></textarea>
        </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
           <div class="form-group">
          <label>upload image</label>
          <input type="file"  (change)="fileChange(input)" #input  required accept="image/*"/>
        </div>

        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group">
          <label>PhoneNum</label>
          <input type="text" class="form-control" [(ngModel)]="phone" name="phone" required>
        </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-xs-12 col-md-6">
        
        <button 
        class="btn btn-warning btn-block btn-lg" type="submit">Publish</button>
                  <hr class="colorgraph">
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row centermessage">
        <span  *ngIf="message" >{{message}}!!</span>
      </div>
       </form>
  </div>
  <br><br>