.img{
  text-align:right;
  position: center;
    display: inline-block;
    border:10;

    border-width: 1px;
    border-color: black;

}
.fieldwrapper{
white-space: nowrap;
}
.largefont { 
  color: #0066FF; 
  font-family:arial; 
  font-size: 14px; 
}

.detailBox {

    width:700px;
    border:2px solid #bbb;
    margin:60px;
}
.titleBox {
    background-color: #ccccff
;
    padding:10px;
}
.titleBox label{

  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {

    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:1000%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    width:100px;
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  text-align:center;
}

.jumbotron .container {
  max-width: 40rem;
}

p {
    color: navy blue;font-size: 14px;
    font-weight: 9px ;
}
h4{
    color:  #0000e6
;font-size: 12px;
}

h5{

    color: # 0000FF;
     font-size: 25px; 
  margin-left: 25px;

}
.center{
    text-align: center;
}
.desc{
    color: blue;
    font-size: larger;
    font-family: cursive;
}
.imgadv{
height: 100%;
   
    width: 100%;
}